{% extends "structure.html" %}

{% block main %}
<center>
<h1> About Us!</h1>

<p align="justify" >
  <b>Our Mission</b>
  There's this notion that to grow a business, you have to be ruthless. But we know there's a better way to grow. One where what's good for the bottom line is also good for customers. We believe businesses can grow with a conscience, and succeed with a soul — and that they can do it with inbound. That's why we've created a platform uniting software, education, and community to help businesses grow better every day.
</p>

</center>
{% endblock main %}

{% block homepage %}

<center>
<div class="">
<span class="txt1">
Go back to
</span>
<a class="txt2" href="/">
Homepage
</a>
</div>
</center>

{% endblock homepage %}
