{% extends "structure.html" %}

{% block main %}
<center>

<h1>Terms Of Use!</h1>

<p >

  <b>Terms and Conditions For company Stores</b>
  If you run an ecommerce business using a webstie store, you need a clear and robust set of Terms and Conditions. This will help you manage your relationships...
</p>

</center>
{% endblock main %}


{% block homepage %}

<center>
<div class="">
<span class="txt1">
Go back to
</span>
<a class="txt2" href="/">
Homepage
</a>
</div>
</center>

{% endblock homepage %}
